#container{ 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

input{ 
    font-size: 1.5rem;
    width: 150px; 
    font-weight: bold;
}

button{
    background-color: hsl(202, 64%, 50%);
    border: none; 
    border-radius: 10px;
    color: white; 
    font-size: 1.5rem;
    padding: 10px 15px; 
    margin: 10px; 
    cursor: pointer; 
}

button:hover{ 
    background-color: hsl(208, 68%, 60%);
}

button:active{ 
    background-color: hsl(208, 68%, 65%);
}

#diceResult{ 
    margin: 10px;
}

#diceImages img{ 
    width: 150px;
    margin: 5px;
}